button {
  border-radius: 2px;
  padding: 5px 25px;
  font-size: 14px;
  border-style: solid;

}

/*Primary*/
.button-primary-hover {
  background-color: #03458b;
} 
.button-primary {
  background-color: #33a0ff;
  border-color: #33a0ff;
  color: white;
} 


.button-primary-border {
  color: #33a0ff;
  border-color:#33a0ff;
  background-color: white;
}
.button-primary-opaque {
  color:rgba(51, 160, 255, 1);
  
  z-index:2;
  opacity: 0.3;
} 

/*Danger*/

/* .button-danger {
  background-color: rgba(255, 72, 88, 1);
  border: 1px solid #F53848;
}

.button-danger-opaque {
  opacity: 0.2;
  color: rgba(255, 72, 88, 1);
}

.button-danger-outline {
  background-color: white;
  color: #F53848;
}

.button-danger:hover {
  background-color: #F53848;
}  */

/*Success*/
/* .button-success {
  background-color: #0AD00A;
  color: white;
  border: 1px solid #0AD00A;
}

.button-success:hover {
  color: white;
  background-color: #07C107;
}

.button-success-opaque {
  color: #0AD00A;
  opacity: 0.2;
}

.button-success-border {
  color: #07C107;
} */

/*Warning*/

/* .button-warning {
  background-color: #FFC600;
  color: white;
  border: 1px solid #FFC600;
}

.button-warning-opaque {
  color: #FFC600;
  opacity: 0.2;
}

.button-warning:hover{
  background-color: #EBB600;
  color: white;
}

.button-warning-border {
  color: #FFC600;
} */

/*Default*/

/* .button-default {
  background-color: #22262A;
  border: 1px solid #22262A;
  color: #22262A;

}

.button-default:hover {
  background-color: #13161A;
}

.button-default-opaque {
  opacity: 0.2;
  color: #22262A;
}

.button-default-border {
  color: #22262A;
} */

.button-small {
  padding: 2.5px 15px;
  width: 150px;
  height: 46px;
}

.button-large {
  height: 60px;
  width: 171px;
  padding: 10px 50px;
}
/* 
.button-opaque {
  opacity: 0.3;
}
.button-border {
  background-color: white;
} */

