button {
    border-radius: 2px;
    padding: 5px 25px;
    font-size: 14px;
}
/*TAKE OUT BORDER ON ALL-ADD OUTLINE AT BOTTOM*/
  /*Primary*/

.button-primary{
  background-color: #33A0FF;
  color: white;
  border: 1px solid #33A0FF;
}

.button-primary:hover {
  background-color: #03458b;
}
.button-primary-border {
    color: #33A0FF;
  }
.button-primary-opaque {
  color: #33A0FF;
  
}

/*Danger*/
/* .button-danger {
  background-color: #FF4858;
  color: white;
  border: 1px solid #F53848;
} */

/* .button-danger-opaque {
  background-color: #FF4858;
  opacity: 0.2;
} */

/* .button-danger-outline {
  background-color: white;
  border: 1px solid #F53848;
  color: #F53848;
}

.button-danger:hover {
  background-color: #F53848;
  color: white;
  border:  1px solid #F53848;
} */

/*Success*/
/* .button-success {
  background-color: #0AD00A;
  color: white;
  border: 1px solid #0AD00A;
} */

/* .button-success:hover {
  color: white;
  background-color: #07C107;
  border: 1px solid #07C107;
} */

/* .button-success-opaque {
  color: #0AD00A;
  opacity: 0.2;
} */
/* 
.button-border {
  background-color: white;
  border: 1px solid #07C107;
  color: #07C107;
} */

/*Warning*/

/* .button-warning {
  background-color: #FFC600;
  color: white;
  border: 1px solid #FFC600;
} */

/* .button-warning-opaque {
  color: #FFC600;
  opacity: 0.2;
} */
/* 
.button-warning:hover{
  background-color: #EBB600;
  color: white;
}

.button-warning-border {
  color: #FFC600;
  border: 1px solid #FFC600;
} */

/*Default*/
/* 
.button-default {
  color: white;
  background-color: #22262A;
  border: 1px solid #22262A;
}

.button-default:hover {
  background-color: #13161A;
  color: white;
} */

/* .button-default-opaque {
  opacity: 0.2;
  color: #22262A;
  background: #F6F7F8;
} */

/* .button-default-border {
  color: #22262A;
  background-color: white;
  border: 1px solid #22262A;
} */
 
.button-small {
  padding: 2.5px 15px;
  width: 150px;
  height: 46px;
  color: white;
}

.button-large {
  height: 60px;
  width: 171px;
  padding: 10px 50px;
  color: white;

}

.button-opaque {
  opacity: 0.3; ;
}
.button-border {
  background-color: white;
}